
form{
  float: center;
}
nav{
  float: center;
  text-align: center;
}
input{
  padding: 15px;
  float: center;
  text-align: center;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 3, 3);
  font-size: 15px;
}
h3{
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  padding-top: 50px;
  padding-bottom: 40px;
  color: rgb(126, 6, 6);
}
footer{
    clear: both;
  
    padding: 1em;
    text-align: center;  
  }
 
P{
  font-size: 20px;
  padding-left: 285px;
  padding-right: 285px;
  padding-top: 10px;
 padding-bottom: 75px;
 font-family: sans-serif;
 color: rgb(95, 3, 3);
}

  a{
    text-decoration: none !important;
  }

  h1{
    font-size: 65px;
  font-family: sans-serif;
  color: rgb(126, 6, 6);
  padding: 0px;
    text-align: center;
    margin-top: 110px;
  }

  #beauty{
    width: 100%;
    padding-top: 20px;

  }

  h4{
    font-family: sans-serif;
    color: rgb(95, 3, 3);
    font-size: 20px;
    padding-bottom: 0px;
    padding-top: 25px;
  }
  